## build ##
.gradle/
build/
*com_crashlytics_export_strings.xml

## ignore certain files
test/proguard.cfg

## ignore IDE project files
# Eclipse
.project
.settings/
.classpath
.metadata
.checkstyle
# IntelliJ
.idea
*.iml

## ignore thirdparty stuff
# crashlytics
*.crashlytics_data

## ignore keystores related files
/*.keystore
/*.properties

## ignore temp files from various editors
.DS_Store
*~
*.swp
