<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.hashbrown.snapable"
    android:versionCode="${app.version.code}"
    android:versionName="${app.version.name}" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled"
        android:name="Snapable"
        android:allowBackup="false" >

        <activity
            android:name=".activities.CameraActivity"
            android:theme="@style/Theme.Styled.NoActionBar" />

        <activity android:name=".activities.EventList" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.EventPhotoList" />
        <activity android:name=".activities.PhotoUpload" />

        <!-- Handles notification from Google Play on install -->
        <receiver
            android:name="com.google.analytics.tracking.android.AnalyticsReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.SnapContentProvider"
            android:authorities="ca.hashbrown.snapable.provider"
            android:exported="false" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="720497953609e6695431b598443025911fbfa2d7" />
    </application>

</manifest>